* {
}
.container {
  width: 1200px;

  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}
.h2 {
  display: flex;
  justify-content: center;
}
.flex {
  display: flex;
}
.ul {
  display: flex;
  list-style: none;
}
.card:not(:last-child) {
  margin-right: 16px;
}
.card {
  width: 356px;
  height: 289px;
  flex-shrink: 0;
  border-radius: 30px;
  background: #3b3434;
  justify-content: center;
  padding-left: 35px;
}
.name {
  display: flex;
  text-align: center;
}
.text {
  display: flex;
  justify-content: center;
}

.icon {
  display: flex;
  padding-top: 50px;
}
