* {
}

.ul {
  list-style: none;
  display: flex;
  justify-content: center;

  text-align: center;
}
.l1 {
  width: 400px;
  height: 395px;
  padding-top: 75px;
  padding-bottom: 70px;
  padding-left: 42px;
  padding-right: 41px;
}
.h2li {
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 39px;
  text-align: center;
  letter-spacing: 0.22px;
  color: #292f36;
}
.pli {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.22px;
  color: #4d5053;
}
.a1 {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.36px;
  color: #4d5053;
}
.l2 {
  width: 400px;
  height: 395px;
  padding-top: 75px;
  padding-bottom: 103px;
  padding-left: 52px;
  padding-right: 51px;
}
.l2h2 {
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 39px;
  text-align: center;
  letter-spacing: 0.22px;
  color: #292f36;
}
.p2li {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.22px;
  color: #4d5053;
}
.a2 {
  /* View More */
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height, or 150% */
  text-align: center;
  letter-spacing: 0.36px;
  color: #4d5053;
}
.l3 {
  width: 400px;
  height: 395px;
  padding-top: 75px;
  padding-bottom: 70px;
  padding-left: 52px;
  padding-right: 52px;
}
.h3 {
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 39px;
  /* identical to box height, or 156% */
  text-align: center;
  letter-spacing: 0.22px;
  color: #292f36;
}
.p3 {
  /* Thin object any finished material applied over a floor structure to provide a walking surface. */
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  /* or 150% */
  text-align: center;
  letter-spacing: 0.22px;
  color: #4d5053;
}
.a3 {
  /* View More */
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height, or 150% */
  text-align: center;
  letter-spacing: 0.36px;
  color: #4d5053;
}
.div11 {
  padding-top: 48px;
  padding-bottom: 70px;
}
.div22 {
  padding-top: 15px;
  padding-bottom: 103px;
}
.div33 {
  padding-top: 15px;
  padding-bottom: 70px;
}
.img1 {
  padding-left: 6px;
}
.img2 {
  padding-left: 6px;
}
.img3 {
  padding-left: 6px;
}
.dir {
  display: flex;
  justify-content: center;
}
.h33 {
  padding-right: 158px;
  padding-top: 42px;
  margin-top: 100px;

  width: 610px;

  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 65px;
  /* or 130% */
  letter-spacing: 0.22px;

  color: #292f36;
}
.ppp {
  padding-top: 42px;
  padding-right: 77px;

  /* The world needs innovators and problem solvers who turn challenges into greater opportunities. We have */
  width: 590px;

  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  /* or 150% */
  letter-spacing: 0.22px;

  color: #4d5053;
}
.pp2 {
  width: 492px;
  height: 66px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  /* or 150% */
  letter-spacing: 0.22px;

  color: #4d5053;
}
.pxp {
  /* 012345678 */

  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height, or 150% */
  letter-spacing: 0.22px;

  color: #4d5053;
}
.pyp {
  /* Call Us Anytime */

  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  /* identical to box height, or 150% */
  letter-spacing: 0.22px;

  color: #4d5053;
}

.img {
  display: flex;
  justify-content: center;
}
.eee {
  margin-top: 40px;

  display: flex;
}
.qqq {
  width: 93px;
  height: 93px;
  padding-right: 20px;
}
.sec2 {
  padding-top: 60px;
}
.g {
  width: 592px;
  height: 635px;
}

.bbuutt {
  background-color: rgba(41, 47, 54, 1);
  width: 263px;
  border-radius: 18px;
  height: 71px;
  /* Get Free Estimate */

  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height, or 150% */
  letter-spacing: 0.72px;

  color: #ffffff;
}
.iii {
  margin-bottom: 140px;
  padding-right: 345px;
  padding-bottom: 37px;
  padding-top: 40px;
}
.iil {
  padding-top: 10px;
  margin-top: 143px;
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 47px;
  line-height: 62px;
  /* identical to box height, or 133% */
  text-align: center;
  letter-spacing: 0.22px;

  color: #292f36;
}
.yyr {
  padding-top: 20px;

  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  /* identical to box height, or 150% */
  text-align: center;
  letter-spacing: 0.22px;

  color: #4d5053;
}
.yrr {
  padding-bottom: 74px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  /* identical to box height, or 150% */
  text-align: center;
  letter-spacing: 0.22px;

  color: #4d5053;
}
.sss {
  list-style: none;
  display: flex;
  justify-content: center;
}
.lll {
  padding-top: 24px;
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 38px;
  /* identical to box height, or 156% */
  letter-spacing: 0.22px;

  color: #292f36;
}
.jjj {
  /* padding-bottom: 61px; */
  padding-bottom: 60px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  /* identical to box height, or 150% */
  letter-spacing: 0.22px;

  color: #4d5053;
}
.jkj {
  padding-top: 24.19px;
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 38px;
  /* identical to box height, or 150% */
  letter-spacing: 0.22px;

  color: #292f36;
}
.uuk {
  padding-bottom: 60.81px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  /* identical to box height, or 150% */
  letter-spacing: 0.22px;

  color: #4d5053;
}
.hhht {
  padding-top: 24px;

  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 38px;
  /* identical to box height, or 150% */
  letter-spacing: 0.22px;

  color: #292f36;
}
.iik {
  padding-bottom: 60px;

  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  /* identical to box height, or 150% */
  letter-spacing: 0.22px;

  color: #4d5053;
}
.tttk {
  padding-top: 24px;
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 38px;
  /* identical to box height, or 156% */
  letter-spacing: 0.22px;

  color: #292f36;
}
.jjy {
  padding-bottom: 60px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  /* identical to box height, or 150% */
  letter-spacing: 0.22px;

  color: #4d5053;
}
.qqg {
  width: 590px;
  /* padding-right:20px ; */
}
.hhyj {
  width: 590px;
}
.ooi {
  width: 590px;
}
.ggi {
  width: 590px;
}
/* .uukn{
    display: flex;
   
} */
.hhpp {
  width: 70px;
  /* display: flex; */
}
.jjkkk {
  padding-right: 20px;
}
.gsfs {
  background: #f4f0ec;
  border-radius: 0px;
  /* width: 1440px; */

  display: flex;
  justify-content: center;
}
.ululul {
  list-style: none;
  display: flex;
  padding-top: 153px;
  padding-bottom: 150px;
}
.kokk {
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 85px;
  line-height: 128px;
  /* identical to box height, or 150% */
  text-align: center;
  letter-spacing: 1.7px;

  color: #cda274;
}
.pepe {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  /* identical to box height, or 150% */
  text-align: center;
  letter-spacing: 0.22px;

  color: #4d5053;
}
.li11:not(:last-child) {
  border-right: 1px solid rgba(205, 162, 116, 1);
}
.li11 {
  width: 288px;
}
.yyy1 {
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 85px;
  line-height: 128px;
  /* identical to box height, or 150% */
  text-align: center;
  letter-spacing: 1.7px;

  color: #cda274;
}
.oop {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  /* identical to box height, or 150% */
  text-align: center;
  letter-spacing: 0.22px;

  color: #4d5053;
}
.qqw {
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 85px;
  line-height: 128px;
  /* identical to box height, or 150% */
  text-align: center;
  letter-spacing: 1.7px;

  color: #cda274;
}
.qww {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  /* identical to box height, or 150% */
  text-align: center;
  letter-spacing: 0.22px;

  color: #4d5053;
}
.zzx {
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 85px;
  line-height: 128px;
  /* identical to box height, or 150% */
  text-align: center;
  letter-spacing: 1.7px;

  color: #cda274;
}
.zxx {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  /* identical to box height, or 150% */
  text-align: center;
  letter-spacing: 0.22px;

  color: #4d5053;
}
.uukn {
  display: flex;
  justify-content: space-between;
}
.h-1 {
  display: flex;
  justify-content: space-between;
}
.gghh {
  display: flex;
  justify-content: space-between;
}
.jjkkkkk {
  display: flex;
  justify-content: space-between;
}
.hhppg {
  padding-right: 19px;
}
.mmb {
  padding-top: 130px;
}
.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

.h2 {
  justify-content: center;
  margin: 0 auto;
  color: #292f36;
  width: 479px;
  text-align: center;
  font-family: "DM Serif Display";
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  line-height: calc(58.5 / 45);
  letter-spacing: 0.22px;
}
.section {
  margin: 0 auto;
  width: 1200px;
  height: 675px;
  flex-shrink: 0;
  flex-shrink: 0;
  border-radius: 70px;
  background: #f4f0ec;
  padding-top: 103px;
}

.ul {
  display: flex;
  justify-content: center;
  list-style: none;
}
.card:not(:last-child) {
  margin-right: 16px;
}
.card {
  width: 356px;
  height: 289px;
  flex-shrink: 0;
  border-radius: 30px;
  background: #fff;
  justify-content: center;
  padding-top: 50px;
  padding-left: 35px;
  padding-right: 30px;
  padding-bottom: 45px;
  margin-top: 47px;
  padding-top: 50px;
}
.card-div {
  display: flex;
}
.name {
  padding-left: 20px;

  color: #292f36;
  font-family: "DM Serif Display";
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: calc(37.5 / 25);
  letter-spacing: 0.22px;
}
.place {
  padding-left: 20px;
  color: #4d5053;
  font-family: Jost;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: calc(27 / 18);
  letter-spacing: 0.22px;
}
.text {
}
.p {
  padding-top: 25px;
  color: #4d5053;
  font-family: Jost;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: calc(30 / 20);
  letter-spacing: 0.22px;
}
.img {
  display: flex;
  width: 100px;
}
.icon {
}
.logotype {
  display: flex;
  margin-top: 140px;
  justify-content: space-between;
  list-style: none;
  height: 103px;
}
.logo-1 {
  margin-right: 125px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.logo-2 {
  margin-right: 110px;
}
.logo-3 {
  margin-right: 89px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.logo-4 {
  margin-right: 112px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.logo-5 {
  padding-top: 30px;
  padding-bottom: 30px;
}
.h2-blogs {
  margin-top: 142.98px;
  padding-bottom: 21px;
  color: #292f36;
  text-align: center;
  font-family: "DM Serif Display";
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: calc(62.4 / 48);
  letter-spacing: 0.22px;
}
.p-blogs {
  padding-bottom: 70px;
  color: #4d5053;
  text-align: center;
  font-family: Jost;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: calc(33 / 22);
  letter-spacing: 0.22px;
}
.interior-ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 40px;
  list-style: none;
}
.room {
  padding: 21px 21px 40px 21px;
  width: 387px;
  height: 515px;
  flex-shrink: 0;
  border-radius: 62px;
  border: 1px solid #e7e7e7;
}
.div-button {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.button {
  display: flex;
  width: 52px;
  height: 52px;
  flex-shrink: 0;
  border-radius: 100px;
  background: #f4f0ec;
  border-style: none;
  align-items: center;
  justify-content: center;
}
.h2-room {
  padding-top: 16px;
  color: #292f36;
  font-family: "DM Serif Display";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: calc(35 / 24);
  letter-spacing: 0.5px;
}
.date {
  color: #4d5053;
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: calc(24 / 16);
  letter-spacing: 0.22px;
  padding-top: 33px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 50px;
  background: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #1a1a1a;
  color: #292f36;
  font-family: "DM Serif Display";
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px; /* 140% */
  letter-spacing: 0.5px;
}

.logo img {
  width: 25px;
  margin-right: 10px;
}

.nav-links {
  display: flex;
  list-style: none;
  padding: 0;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  padding: 5px 10px;
}

.nav-links a.home {
  color: #c49b6c;
  font-weight: bold;
}

.image-container {
  position: relative;
  display: inline-block;
  width: 100%;
}
.last-section {
  position: relative;
  display: inline-block;
  width: 100%;
}

.background-image {
  width: 100%;
  display: block;
}

.overlay-image {
  position: absolute;
  top: 35%;
  left: 21%;
  width: 30%;
  height: auto;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.overlay-button {
  position: absolute;
  top: 65%;
  left: 11%;
  transform: translate(-50%, -50%);
  width: 120px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.overlay-txt {
  position: absolute;
  top: 50%;
  left: 24%;
  transform: translate(-50%, -50%);
  width: 500px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.overlay-t2x2 {
  position: absolute;
  top: 55%;
  left: 17%;
  transform: translate(-50%, -50%);
  width: 330px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.overlay-Get-startedd {
  position: absolute;
  top: 65%;
  left: 10%;
  transform: translate(-50%, -50%);
  width: 68px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.overlay-Start2 {
  position: absolute;
  top: 1141%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1200px;
  width: 100%;
  display: block;
}

.overlay-Startix {
  position: absolute;
  z-index: 1;
  top: 140%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  display: block;
}

.overlay-contact {
  position: absolute;
  z-index: 1;
  top: 145%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  display: block;
}

.overlay-Get-Frame {
  position: absolute;
  z-index: 1;
  top: 160%;
  left: 45%;
  transform: translate(-30%, -50%);
  width: 200px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.section-contact {
  padding-top: 100px;
  padding-bottom: 80px;
}
.color-container {
  width: 1200px;
  border-radius: 70px;
  background: #292f36;
  padding-top: 100px;
  padding-bottom: 95px;
  text-align: center;
}
.h2-contact {
  color: #fff;
  margin-bottom: 10px;
  text-align: center;
  font-family: "DM Serif Display";
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 75px; /* 150% */
  letter-spacing: 0.22px;
}
.text-contact {
  margin-bottom: 30px;
  color: #fff;
  text-align: center;
  font-family: Jost;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px; /* 150% */
  letter-spacing: 0.22px;
}
.button-contact {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding-left: 34px;
  border-radius: 18px;
  border: none;
  outline: none;
  color: #fff;
  text-align: center;
  font-family: Jost;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 150% */
  letter-spacing: 0.22px;
  width: 241px;
  height: 71px;
  flex-shrink: 0;
  background-color: #cda274;
  stroke-width: 2px;
  stroke: #cda274;
  filter: drop-shadow(1px 0px 18px rgba(0, 0, 0, 0.2));
}
.social-media {
  display: flex;
  padding-top: 10px;
}
.network:not(:first-child) {
  padding-left: 40px;
}
.network {
  list-style: none;
}
.we {
  color: #4d5053;
  font-family: Jost;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px; /* 150% */
  letter-spacing: 0.22px;
  padding-top: 15px;
  padding-right: 83px;
  padding-bottom: 30px;
}
.footer {
  margin-top: 130px;
}
.navigation {
  display: flex;
}
.adress-1 {
  display: flex;
  text-align: center;
  width: 210.719px;
  padding: 0px 60px 30px 0px;
  flex-direction: column;
  align-items: center;
  gap: 21.797px;
  list-style: none;
  padding-right: 160px;
}
.adress-2 {
  display: flex;
  text-align: center;
  width: 150.719px;
  height: 285px;
  padding-right: 26.797px;
  flex-direction: column;
  list-style: none;
  align-items: center;
  gap: 30px;
  padding-right: 138px;
}
.adress-3 {
  display: flex;
  text-align: center;
  width: 337.156px;
  padding: 0.203px 15.953px 0.797px 0.203px;
  flex-direction: column;
  list-style: none;

  gap: 29px;
}
.nav {
  display: flex;
}
.li-adress {
  color: #4d5053;
  font-family: Jost;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px; /* 150% */
  letter-spacing: 0.22px;
  width: 200px;
}
.li-adress-main {
  width: 200px;
  color: #292f36;
  font-family: "DM Serif Display";
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 37.5px; /* 150% */
  letter-spacing: 0.22px;
}
.bottom {
  display: flex;
  justify-content: center;

  height: 104px;
  flex-shrink: 0;
  border-top: #1a1a1a;
  border-top-style: groove;
  padding-top: 35px;
  padding-bottom: 36px;
  margin-top: 110px;
}
.Copyright {
  width: 1000px;
  flex-shrink: 0;
  color: #4d5053;
  text-align: center;
  font-family: Jost;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px; /* 150% */
  letter-spacing: 0.22px;
}
.Victorflow {
  color: #cda274;
  text-align: center;
  font-family: Jost;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px; /* 150% */
  letter-spacing: 0.22px;
}
.Webflow {
  color: #cda274;
  text-align: center;
  font-family: Jost;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px; /* 150% */
  letter-spacing: 0.22px;
}
